.addMovie {
  background: rgba(0, 0, 0, 0.855);
  padding: 50px 100px;

  form {
    padding-left: 50px;
    background: rgba(205, 205, 205, 0.814);
    padding-block: 20px;
    border: solid 1px rgb(235, 197, 100);

    @media screen and (max-width: 500px) {
      margin-inline: 75px;
      padding: 10px;
    }
  }

  h1 {
    text-align: center;
    padding-block: 25px;
    font-size: 25px;

    @media screen and (max-width: 500px) {
      padding-block: 20px;
      font-size: 18px;
    }
  }

  p{
    width: 130px;
  }
  label {
    display: flex;
    align-content: flex-start;
    margin-block: 10px;
  }

  input {
    font-size: 15px;
    background: transparent;;
    outline: none;
    border: 0;
    border-bottom: 1px solid rgb(255, 255, 255);
    font-family: "Roboto Mono", monospace;
    width: 400px;
  }

  button {
    padding: 10px 20px;
    margin-top: 20px;
    background: rgba(0, 0, 0, 0.676);
    color: whitesmoke;
    border-color: rgb(235, 197, 100);
    cursor: pointer;
  }
}
