.App {
  background-image: url("https://fondosmil.com/fondo/57480.jpg");
  @import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
  font-family: "Roboto Mono", monospace;
  
  .navbar {
    display: flex;
    justify-content: space-evenly;
    padding-block: 50px;
    background: rgba(99, 129, 177, 0.818);
    border-bottom: solid rgb(0, 0, 0);

    a {
      font-size: 20px;
      font-weight: bolder;
      text-decoration: none;
      color: rgb(255, 255, 255);
    }

    @media screen and (max-width: 500px) {
      padding: 20px;

      a {
        font-size: 15px;
      }
    }
  }

  .home {
    text-align: center;
    padding: 100px;
    background: rgba(255, 255, 255, 0.716);

    h1 {
      font-size: 50px;
      margin-bottom: 50px;
    }

    img {
      padding: 50px;
      width: 70%;
    }
  }

  .movie {
    display: grid;
    cursor: pointer;

    .container {
      color: rgb(0, 0, 0);
      background-color: rgba(246, 246, 246, 0.76);
      padding: 10px;
      margin: 10px;
      width: 220px;
      border: solid 1px rgba(0, 0, 0, 0.233);
      &:hover {
        transform: scale(1.01);
      }
    }

    img {
      margin: 5px;
      width: 90%;
    }
  }

  .search {
    text-align: center;

    .divPelis {
      display: flex;
      flex-wrap: wrap;
    }

    input {
      text-align: center;
      margin-top: 50px;
      margin-bottom: 20px;
      padding: 5px 50px;

      @media screen and (max-width: 500px) {
        margin-top: 25px;
        font-size: 10px;
      }
    }
  }

  .register,
  .login  
  {
    text-align: center;
    background-image: url("https://images.ecestaticos.com/leU_vr7vwdksdq_fkLknTvqTmlw=/0x90:1696x1041/1600x900/filters:fill(white):format(jpg)/f.elconfidencial.com%2Foriginal%2F4eb%2Fa77%2F5f9%2F4eba775f9bbe9f2f8c602b8731e81a46.jpg");

    h1 {
      padding-block: 50px;
      color: whitesmoke;
      font-size: 25px;
      background: rgba(0, 0, 0, 0.886);

      @media screen and (max-width: 500px) {
        padding-block: 20px;
        font-size: 18px;
      }
    }

    form {
      color: whitesmoke;
      align-items: center;
      display: flex;
      flex-direction: column;
      background: rgba(15, 58, 91, 0.736);
      padding: 50px;
      margin-inline: 25%;
      border: solid rgba(0, 0, 0, 0.215);

      @media screen and (max-width: 500px) {
        margin-inline: 75px;
        padding: 10px;
      }
    }

    label {
      display: flex;
      flex-direction: column;
      margin-block: 10px;
    }

    input {
      color: whitesmoke;
      text-align: center;
      background: transparent;
      outline: none;
      border: 0;
      border-bottom: 1px solid rgb(255, 255, 255);
      font-family: "Roboto Mono", monospace;
    }

    button {
      // width:25%;
      padding: 10px 20px;
      margin-top: 20px;
      background: rgba(0, 0, 0, 0.676);
      color: whitesmoke;
      border-color: whitesmoke;
      cursor: pointer;
    }
  }
}
