.App {
  background-color: rgb(189, 68, 68);
  background-image: url("https://www.transparenttextures.com/patterns/shattered.png");

  .navbar {
    display: flex;
    justify-content: space-evenly;
    padding-block: 50px;
    background: rgba(0, 0, 0, 0.707);

    a {
      font-weight:  bolder;
      text-decoration: none;
      color: rgb(255, 255, 255);
    }
  }

  .movie {
    display: flex;
    cursor: pointer;

    .container {
      color: whitesmoke;
      background-color: rgba(2, 1, 1, 0.671);
      margin: 10px;
      text-align: center;
      width: 220px;
      &:hover {
        transform: scale(1.01);
      }
    }

    img {
      margin: 5px;
      width: 90%;
    }
  }

  .search {

    text-align: center;
    
    input {
      text-align: center;
      margin-top: 50px;
      padding: 5px 50px;
    }
  }

  .register, .login  {
    text-align: center;

    h1 {
      color: whitesmoke;
      font-size: 25px;
    }

    form {
      align-items: center;
      display: flex;
      flex-direction: column;
      background: rgba(237, 241, 244, 0.604);
      padding: 50px;
      margin-inline: 25%;
      border: solid rgba(0, 0, 0, 0.215);
    }

    label {
      display: flex;
      flex-direction: column;
      font-style: italic;
      margin-block: 10px;
    }

    input {
      text-align: center;
      background: transparent;
      outline: none;
      border: 0;
      border-bottom: 1px solid rgb(255, 255, 255);
    }

    button {
      width:25%;
      padding: 10px 20px;
      margin-top: 20px;
      background: rgba(0, 0, 0, 0.676);
      color: whitesmoke;
      border: 0 white;
      cursor: pointer;
    }
  }
}
