.App {
  background-image: url("https://images.ecestaticos.com/leU_vr7vwdksdq_fkLknTvqTmlw=/0x90:1696x1041/1600x900/filters:fill(white):format(jpg)/f.elconfidencial.com%2Foriginal%2F4eb%2Fa77%2F5f9%2F4eba775f9bbe9f2f8c602b8731e81a46.jpg");
  background-size: cover;
  background-position: center;
  @import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
  font-family: "Roboto Mono", monospace;
}

